* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif, Times, serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  min-width: 320px;
  min-height: 100vh;
}

/* Customize the scrollbar */
body::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(38, 37, 37); /* Color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 2px solid transparent; /* Extra space around the scrollbar thumb */
  background-clip: padding-box; /* Clip background to padding box */
  transition: background-color 0.3s ease; /* Smooth transition for scrollbar thumb */
}


.w-100{
  width: 100vw;
}


.hover-effect:hover {
  color: #ffc107 !important; /* Change to your desired hover color */
}

.w-22 {
  min-width: 22rem;
  
}

.h-4{
  height: 4rem !important;
}

.m-6{
  margin: 60px;
}

.mt-6{
  margin-top: 6rem;
}

.mx-6{
  margin-left: 6%;
  margin-right: 6%;
}

.mx-10{
  margin-left: 10%;
  margin-right: 10%;
}

.profile-pic {
  height: 200px;
  width: 200px;
}

.profile-border-color{
  border-color: #ffc107 !important;
}

.pt-6{
  padding-top: 60px;
}

.py-6{
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-theme-color {
  color: #ffc107 !important;
}

.sec-txt-theme-clr {
  color: #c6bc9c;
}

.third-theme-clr {
  color: #716e66;
}

.fourth-theme-color {
  color: #c0baa8;
}
.skill-carousel-container {
  overflow: hidden;
  white-space: nowrap;
  padding: 20px 0;
}

.skill-carousel {
  display: flex;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-item {
  display: inline-block;
  text-align: center;
}

.skill-img {
  width: 100px;
  height: 100px;
}

.custom-font-size {
  font-size: 4rem !important;
}

.custom-border-color {
  border-color: #ffc107 !important;
}

.point:hover {
  cursor: pointer;
}

.custom-color{
  background-color: #ffc107 !important;
}